* {
  box-sizing: border-box;
}

.navbar {
  font-size: xx-large;
  padding-left: 45%;
}

/* The sidebar */
.sidenav {
  height: 100%;
  width: 17%;
  position: fixed;
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  overflow-x: hidden; /* Disable horizontal scroll */
  margin-left: 10px;
  padding-top: 55px;
  font-size: x-large;
}

.search_btn, #clear {
  margin-top: 10px;
  margin-bottom: 10px;
}

#clear {
  background-color: lightpink;
}

/* Style page content */
main {
  width: 80%;
  float: right;
  margin-top: 10px;
}

.todayBlock {
  padding-left: 10px;
  border: 3px black solid;
  width: 90%;
  margin-top: 20px;
  margin-bottom: 25px;
  background-color: lightpink;
}

.todayBlock h3 {
  font-weight: bold;
}

.todayBlock,
.todayBlock h5 {
  font-size: larger;
}

.card {
  display: inline-block;
  width: 18%;
}

/* change display for smaller screen size */
@media (max-width: 769px) {
  .sidenav {width: 22%;}
  main {width: 75%; margin-top: 40px;}
  .navbar {padding-left: 32%}
 }
